/*super high level styles*/
body {
  margin: 0;
  padding: 0;
}

h1, h2, p {
  padding: 1em 0 0 1em;
}


/*text classes*/
.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
}

.big-text {
  color: white;
  font-size: 72px;
  text-shadow: 2px 2px #222;
}


/*section styles*/
.section {
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--landing-background {
  background-image: url('main.jpg');
  background-size: cover;
}

.section--contact-background {
  background-color: red;
  color: white;
}


/*grid styles*/
.container {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.row--footer {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.box1 {
  flex: 1 auto;
}

.box2 {
  flex: 2 auto;
  border-left: thick solid white;
}


/*navbar styles*/
.navbar-wrapper {
  width: 100%;
  height: 64px;
  background-color: red;
}


/*nav styles*/
.nav {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav--mobile-trigger {
  float: right;
  display: none;
}

.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  height: 100%;
}

.nav__item:hover {
  background-color: #222;
  color: white;
}

.nav__item--mobile {
  float: left;
}

.nav__link {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.nav__link--mobile  {
  color: red;
}

.nav__link--hamburger {
  color: white;
  font-size: 28px;
}


/*footer styles*/
.footer {
  min-height: 250px;
  background-color: #222;
  color: white;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list__item {
  margin: 10px;
}
.footer-list__link {
  text-decoration: none;
  color: white;
}
.footer-list__link:hover{
  color: red;
}


/*triggers mobile nav*/
/*MUST BE AN ID*/
#mobile-nav-wrapper {
  display: none;
}

#mobile-nav-wrapper:target {
  display: block;
}


/**RESPONSIVE CSS**/

/*medium and lower*/
@media all and (max-width: 800px) {
  /*grid styles*/
  .row {
    flex-flow: row wrap;
  }

  .row--footer {
    justify-content: flex-start;
    align-items:baseline;
  }

  .box1 {
    flex: 1 100%;
  }

  .box2 {
    order: 1;
    flex: 1 100%;
  }

  .box1--footer {
    text-align: center;
    order: 2;
  }


  /*nav styles*/
  .nav--mobile-trigger {
    display: block;
  }

  .nav--desktop {
    visibility: hidden;
  }


  /*footer styles*/
  .footer-list__item {
    display: inline;
  }
}
